<html>
<head>
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="/css/slidy.css" />
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="/css/leanovate.css" />
<script src="/js/slidy.js" charset="utf-8" type="text/javascript"></script>
<meta name="duration" content="{{ .Params.duration }}" />
<meta name="copyright" content="{{ .Params.copyright }}" /> 
</head>
<body>
<div class="background">
    <div class="header"></div>
</div>

<div class="slide cover">
    <h1>{{ .Title }}</h1>
</div>

{{ $name := .Params.presentation }}
{{ $presentation := index .Site.Taxonomies.presentations $name }}

{{ range $presentation.Pages.ByWeight }}
   {{ .Render "presentation" }}
{{ end }}
